block footer
 footer.main-footer-container
  .main-footer
   span.primaria.footer-title Bella Napoli
   p A melhor pizzaria da cidade. Sabores únicos, ingredientes frescos.
  .footer-links 
  .footer-rights
    p &copy; 2026 Pizzaria Bella Napoli. Todos os direitos reservados.   