extends layout  

block page-style
  link(rel='stylesheet' href='/css/auth.css')

block content 
    section.login-section
     div.signup-container
      if errorMessage
        .alert-danger
          p= errorMessage
      h2 Criar Conta
      p.subtitle Peça sua pizza favorita em poucos cliques!
      form.login-form(action="/auth/signup" method="POST" enctype="multipart/form-data")
          .avatar-upload-section
            label.avatar-label(for="avatar-input")
              img#avatar-preview(src='https://res.cloudinary.com/djgps6pjd/image/upload/v1771541972/icone-sem-usuario_onvrtj.png')
              p.avatar-text Escolher Foto
            input#avatar-input(type="file" name="avatar" accept="image/*" style= "display: none")
          .input-line
            input.user-input(type="text" placeholder="Nome Completo" name="name" required)
            div.log-icon 👤
          
          .input-line
            input.user-input(type="email" placeholder="Email" name="email" required)
            div.log-icon ✉️

          .input-line
            input.user-input(type="tel" placeholder="WhatsApp / Telefone" name="phone" required)
            div.log-icon 📱

         
          .address-grid
            .input-line
              input.user-input(type="text" placeholder="CEP" name="zip_code" id="zip_code" required)
              div.log-icon 📍
            .input-line
              input.user-input(type="text" placeholder="Bairro" name="neighborhood" id="neighborhood" required)
          
          .input-line
            input.user-input(type="text" placeholder="Rua" name="street" id="street" required)
          
          .address-grid
            .input-line
              input.user-input(type="text" placeholder="Nº" name="number" required)
            .input-line
              input.user-input(type="text" placeholder="Complemento" name="complement")


          .input-line
            input.user-input(type="password" placeholder="Crie uma Senha" name="password" required)
            div.log-icon 🔒

          button.login-button(type="submit") Finalizar Cadastro
          
          p.signup-text
            | Já tem conta? 
            a.signup-link(href="/auth/login") Faça Login

block append scripts
  script.

    document.getElementById('avatar-input').addEventListener('change', function(e) {
      const reader = new FileReader();
      reader.onload = function(event) {
        document.getElementById('avatar-preview').src = event.target.result;
      }
      reader.readAsDataURL(e.target.files[0]);
    });